{% extends "template.html" %}

{% block title %}{{ team_name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<h1>Welcome to {{ team_name }} Page!</h1>
<p>Meet the squad and check out their performance stats.</p>

<h3>Players</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Jersey Number</th>
            <th>Name</th>
            <th>PPG</th>
            <th>APG</th>
            <th>RPG</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.jersey }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.ppg }}</td>
            <td>{{ player.apg }}</td>
            <td>{{ player.rpg }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}