{% extends "template.html" %}
{% block title %}Video Footage{% endblock %}

{% block content %}
<h1 class="mb-4">Team Video Highlights</h1>

<div class="row">
  {% for video in videos %}
  <div class="col-md-6 mb-4">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <div class="ratio ratio-16x9">
          <iframe src="{{ video.embed_url }}" title="{{ video.title }}" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}